<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
      </ul>
      <ul class="header-links pull-right">

        <li *ngIf="!username"><a routerLink="/account"><i class="fa fa-user-o"></i> My Account</a></li>
        <li *ngIf="username"><a routerLink="/account"><i class="fa fa-user-o"></i> {{username}}</a></li>
        <li *ngIf="username" ><a style="cursor: pointer" (click)="logout()"><i class="fa fa-sign-out"></i> Log Out</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" class="logo">
              <img src="../../assets/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form>

              <!--<input class="input" style="border-top-left-radius:40px;border-bottom-left-radius:40px  "
                     placeholder="Search here">-->
              <section class=" filter-wrapper">
                <div class="keyword-wrapper">
                  <input autocomplete="off" [formControl]="queryField" type="text" class="input" style="border-top-left-radius:40px;border-bottom-left-radius:40px  "
                         placeholder="Search here.." id="keyword" autofocus/>
                  <button class="search-btn">Search</button>
                </div>
                <ul class="filter-select">
                  <li *ngFor="let result of results |slice:0:4"  class="filter-select-list" (click)="selectedProduct(result.id)"><img [src]="imgUrl+result.primaryMedia.url" width="50" height="50"><p class="artist-name">{{result.name}}</p>

                </ul>
              </section>

            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span>Your Wishlist</span>
                <div class="qty hidden"></div>
              </a>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div class="dropdown" [ngClass]="{'open' : toggle }">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-shopping-cart" style="cursor: pointer" (click)="toggle= !toggle"></i>
                <span>Your Cart</span>
                <div *ngIf="cartProducts!=null&&cartProducts.length<=9" class="qty " >{{cartProducts.length}}</div>
                <div *ngIf="cartProducts!=null&&cartProducts.length>9" class="qty " >9+</div>

              </a>
              <div class="cart-dropdown">
                <div class="cart-list" *ngIf="cartProducts!=null">
                  <div class="product-widget" *ngFor="let cartProduct of cartProducts">

                    <div class="product-img">
                      <img [src]="imgUrl+cartProduct.primaryMedia.url" alt="">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><div>{{cartProduct.quantity}}X</div><a style="cursor: pointer"
                                                  (click)="selectedProduct(cartProduct.productId)">{{cartProduct.name}}</a></h3>
                      <h4 class="product-price">{{cartProduct.totalPrice.amount}}{{cartProduct.totalPrice.currency}}</h4>
                    </div>
                    <button class="delete" (click)="removeItem(cartProduct.id)"><i class="fa fa-close"></i></button>
                  </div>
                </div>
                <h1 *ngIf='cartProducts==null'>Your Cart is Empty!</h1>

                <div class="cart-summary">
                  <small *ngIf="cartProducts!=null">{{cartProducts.length}} Item(s) selected</small>


                  <h5 *ngIf="cartProducts!=null">SUBTOTAL:{{total.amount}}{{total.currency}}</h5>


                </div>
                <div class="cart-btns">
                  <a routerLink="cart">View Cart</a>
                  <a routerLink="checkout" (click)="checkOut()">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->

            <!-- Menu Toogle -->
            <div class="menu-toggle" style="cursor: pointer">
              <a (click)="toggle1= !toggle1">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->

  <nav id="navigation">
    <!-- container -->
    <div class="container">
      <!-- responsive-nav -->
      <div id="responsive-nav" [ngClass]="{'active' : toggle1 }">
        <!-- NAV -->
        <ul class="main-nav nav navbar-nav">
          <li *ngFor='let categorie of categories'><a style="cursor: pointer;"
                                                      (click)="selectedCategorie(categorie.id)">{{categorie.name}}</a>
          </li>
        </ul>
        <!-- /NAV -->
      </div>
      <!-- /responsive-nav -->
    </div>
    <!-- /container -->
  </nav>
</header>
