<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <div class="col-md-7">
        <!-- Billing Details -->
        <div class="billing-details">
          <div class="section-title">
            <h3 class="title">Billing address</h3>
          </div>
          <div class="form-group">
            <input class="input" type="text" name="first-name" placeholder="First Name">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="last-name" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input class="input" type="email" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="address" placeholder="Address">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="city" placeholder="City">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="country" placeholder="Country">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="zip-code" placeholder="ZIP Code">
          </div>
          <div class="form-group">
            <input class="input" type="tel" name="tel" placeholder="Telephone">
          </div>
          <div class="form-group">
            <div class="input-checkbox">
              <input type="checkbox" id="create-account">
              <label for="create-account">
                <span></span>
                Create Account?
              </label>
              <div class="caption">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                <input class="input" type="password" name="password" placeholder="Enter Your Password">
              </div>
            </div>
          </div>
        </div>
        <!-- /Billing Details -->

        <!-- Shiping Details -->
        <div class="shiping-details">
          <div class="section-title">
            <h3 class="title">Shiping address</h3>
          </div>
          <div class="input-checkbox">
            <input type="checkbox" id="shiping-address">
            <label for="shiping-address">
              <span></span>
              Ship to a diffrent address?
            </label>
            <div class="caption">
              <div class="form-group">
                <input class="input" type="text" name="first-name" placeholder="First Name">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="last-name" placeholder="Last Name">
              </div>
              <div class="form-group">
                <input class="input" type="email" name="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="address" placeholder="Address">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="city" placeholder="City">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="country" placeholder="Country">
              </div>
              <div class="form-group">
                <input class="input" type="text" name="zip-code" placeholder="ZIP Code">
              </div>
              <div class="form-group">
                <input class="input" type="tel" name="tel" placeholder="Telephone">
              </div>
            </div>
          </div>
        </div>
        <!-- /Shiping Details -->

        <!-- Order notes -->
        <div class="order-notes">
          <textarea class="input" placeholder="Order Notes"></textarea>
        </div>
        <!-- /Order notes -->
      </div>

      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">Your Order</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>PRODUCT</strong></div>
            <div><strong>TOTAL</strong></div>
          </div>
          <div class="order-products" *ngFor="let cartProduct of cartProducts">
            <div class="order-col">
              <div>{{cartProduct.quantity}}x {{cartProduct.name}}</div>
              <div>{{cartProduct.totalPrice.amount}}{{cartProduct.totalPrice.currency}}</div>
            </div>
          </div>
          <div class="order-col">

            <div>Shiping Option</div>
            <div><select [(ngModel)]="fulfillementOptions">
              <option *ngFor="let option of fulfillementOptions" [ngValue]="option">
                {{option.fulfillmentOption.name}}
              </option>
            </select></div>
          </div>
          <div class="order-col">
            <div><strong>TOTAL</strong></div>
            <div><strong class="order-total">{{total.amount}}{{total.currency}}</strong></div>
          </div>
        </div>
        <div class="payment-method">
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-1">
            <label for="payment-1">
              <span></span>
             Credit Card
            </label>
            <div class="caption">
              <div class="container">
                <div class="row">
                  <!-- You can make it whatever width you want. I'm making it full width
                       on <= small devices and 4/12 page width on >= medium devices -->
                  <div class="col-xs-12 col-md-4">


                    <!-- CREDIT CARD FORM STARTS HERE -->
                    <div class="panel panel-default credit-card-box">
                      <div class="panel-heading display-table" >
                        <div class="row display-tr" >
                          <h3 class="panel-title display-td" >Payment Details</h3>
                          <div class="display-td" >
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <form role="form" >
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="form-group">
                                <label for="cardNumber">CARD NUMBER</label>
                                <div class="input-group">
                                  <input
                                    type="tel"
                                    class="form-control"
                                    name="cardNumber"
                                    placeholder="Valid Card Number"
                                    autocomplete="cc-number"
                                    required autofocus
                                  />
                                  <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-7 col-md-7">
                              <div class="form-group">
                                <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                <input
                                  type="tel"
                                  class="form-control"
                                  name="cardExpiry"
                                  placeholder="MM / YY"
                                  autocomplete="cc-exp"
                                  required
                                />
                              </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                              <div class="form-group">
                                <label for="cardCVC">CV CODE</label>
                                <input
                                  type="tel"
                                  class="form-control"
                                  name="cardCVC"
                                  placeholder="CVC"
                                  autocomplete="cc-csc"
                                  required
                                />
                              </div>
                            </div>
                          </div>

                          <div class="row" style="display:none;">
                            <div class="col-xs-12">
                              <p class="payment-errors"></p>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- CREDIT CARD FORM ENDS HERE -->


                  </div>



                </div>
              </div>

            </div>
          </div>
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-2">
            <label for="payment-2">
              <span></span>
              Direct Payment
            </label>
            <div class="caption">
              <p>Pay when you receive your order.</p>
            </div>
          </div>
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-3">
            <label for="payment-3">
              <span></span>
              Paypal System
            </label>
            <div class="caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
        <div class="input-checkbox">
          <input type="checkbox" id="terms">
          <label for="terms">
            <span></span>
            I've read and accept the <a href="#">terms & conditions</a>
          </label>
        </div>
        <a routerLink="/thanks" class="primary-btn order-submit">Place order</a>
      </div>
      <!-- /Order Details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
