<div class="section" *ngIf="categorie.name!='Home'" >
  <!-- container -->
  <div class="container" >
    <!-- row -->
    <div class="row">
      <!-- ASIDE -->
      <div id="aside" class="col-md-3">


        <!-- aside Widget -->
        <div class="aside">
          <h3 class="aside-title">Price</h3>
          <div class="price-filter">
            <div id="price-slider"></div>
            <div class="input-number price-min">
              <input id="price-min" type="number">
              <span class="qty-up">+</span>
              <span class="qty-down">-</span>
            </div>
            <span>-</span>
            <div class="input-number price-max">
              <input id="price-max" type="number">
              <span class="qty-up">+</span>
              <span class="qty-down">-</span>
            </div>
          </div>
        </div>
        <!-- /aside Widget -->

        <!-- aside Widget -->
        <div class="aside">
          <h3 class="aside-title"></h3>
          <div class="checkbox-filter">
            <div class="input-checkbox" *ngFor="let product of products | unique">
              <input type="checkbox" id="brand-1">
              <label for="brand-1">
                <span></span>
                {{product.manufacturer}}
                <small>(578)</small>
              </label>
            </div>






          </div>
        </div>
        <!-- /aside Widget -->
        <!-- aside Widget -->
        <div class="aside">
          <h3 class="aside-title">Top selling</h3>
          <div class="product-widget" >
            <div class="product-img">
              <img src="" alt="">
            </div>
            <div class="product-body">
              <p class="product-category">Category</p>
              <h3 class="product-name"><a href="#"></a></h3>
              <h4 class="product-price"> </h4>
            </div>
          </div>




        </div>
        <!-- /aside Widget -->
      </div>
      <!-- /ASIDE -->

      <!-- STORE -->
      <div id="store" class="col-md-9" style="display: flex;flex-wrap: wrap">

        <!-- store top filter -->

        <div class="store-filter clearfix" style="width: 100%">

          <pagination-controls  class="my-pagination ngx-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
        <!-- /store top filter -->

        <!-- store products -->

          <!-- product -->
          <div class="col-md-4 col-xs-2" *ngFor="let product of products |paginate:{itemsPerPage:10,currentPage:p}">
            <div class="row" >
            <div class="product" >
              <div class="product-img">
                <img [src]="imgUrl+product.primaryMedia.url" alt="">
                <div class="product-label">

                </div>
              </div>
              <div class="product-body">
                <p class="product-category"></p>
                <h3 class="product-name"><a style="cursor: pointer" (click)="selectedProduct(product.id)">{{product.name}}</a></h3>
                <h4 class="product-price">{{product.retailPrice.amount}}{{product.retailPrice.currency}}</h4>
                <div class="product-rating">

                </div>
                <div class="product-btns">
                  <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>

                  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                </div>
              </div>
              <div class="add-to-cart">
                <button (click)="addToCart(product,$event)" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
              </div>
            </div>
          </div>
          </div>
          <!-- /product -->



          <div class="clearfix visible-sm visible-xs"></div>




        <!-- /store products -->

        <!-- store bottom filter -->

        <!-- /store bottom filter -->
      </div>
      <!-- /STORE -->
    </div>
    <!-- /row -->
    <pagination-controls  class="my-pagination ngx-pagination" (pageChange)="p = $event"></pagination-controls>
  </div>
  <!-- /container -->
</div>

<!-- /SECTION -->

<!-- SECTION -->
<div *ngIf="categorie.name=='Home'">
<div class="section" >
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="../../assets/img/Sudden-Death-Sauce-Bottle.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Sauce<br>Collection</h3>
            <a routerLink="/categorie/2002" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="../../assets/img/heat_clinic_handdrawn_mens_silver.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Men's Merchandise<br>Collection</h3>
            <a routerLink="/categorie/2007" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="../../assets/img/heat_clinic_handdrawn_womens_red.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Women's Merchandise<br>Collection</h3>
            <a routerLink="/categorie/2008" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">The Heat Clinic's Top Selling Sauces</h3>

        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-3" *ngFor="let product of products">
        <div class="row">
          <div class="products-tabs">
            <!-- tab -->
            <div id="tab1" class="tab-pane active">
              <div class="products-slick" data-nav="#slick-nav-1">
                <!-- product -->
                <div class="product">
                  <div class="product-img">
                    <img [src]="imgUrl+product.primaryMedia.url" alt="">
                    <div class="product-label">
                      <span class="sale">-30%</span>
                      <span class="new">NEW</span>
                    </div>
                  </div>
                  <div class="product-body">

                    <h3 class="product-name"><a (click)="selectedProduct(product.id)">{{product.name}}</a></h3>
                    <h4 class="product-price">{{product.retailPrice.amount}} {{product.retailPrice.currency}} </h4>

                    <div class="product-btns">
                      <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>

                      <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button (click)="addToCart(product,$event)" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                  </div>
                </div>
                <!-- /product -->


              </div>
              <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
          </div>
        </div>
      </div>
      <!-- Products tab & slick -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->


</div>

