.my-pagination /deep/ .ngx-pagination .current {
  background-color: #D10024;
  border-color: #D10024;
  color: #FFF;
  font-weight: 500;
  cursor: default;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.ngx-pagination{
  float: right;
}
