<div *ngIf='cartProducts!=null' class="container" >
  <div class="shopping-cart">
    <!-- Title -->
    <div class="title">
      Your Cart
    </div>
    <!-- Product #3 -->
    <div class="item" *ngFor="let cartProduct of cartProducts">
      <div class="buttons">
        <span class="delete-btn" (click)="removeItem(cartProduct.id)"></span>
      </div>

      <div class="image">
        <img [src]="imgUrl+cartProduct.primaryMedia.url" alt="" />
      </div>

      <div class="description">
        <span>{{cartProduct.name}}</span>
        <span>{{cartProduct.retailPrice.amount}}</span>

      </div>

      <div class="quantity">
        <button class="plus-btn" type="button" name="button">
          <img src="../../assets/img/svg/add-plus-button.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
          <img src="../../assets/img/svg/substract.svg" alt="" />
        </button>
      </div>
      <div class="total-price">{{cartProduct.totalPrice.amount}}</div>
    </div>
  </div>
  <div class="checkout">
    <div class="cart-summary">
      <small>{{cartProducts.length}} Item(s) selected</small>

      <h5>SUBTOTAL:{{total.amount}}</h5>

    </div>
    <div >
      <a routerLink="/checkout" class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>
<h1 *ngIf='cartProducts==null'>Your Cart is Empty!</h1>



