<div class="container profile">
  <div class="section">
    <div class="container col-md-4">
      <h4 class="title">My Account</h4>
      <ul class="nav nav-pills nav-primary nav-stacked">
        <li routerLink="/accountInfo" style="cursor: pointer"><a>Account Informations</a></li>
        <li routerLink="/address" style="cursor: pointer"><a>Address Management</a></li>
        <li routerLink="/myOrders" style="cursor: pointer"><a>My Orders</a></li>
        <li routerLink="/myPayments" style="cursor: pointer"><a>My Payments</a></li>
      </ul>
    </div>
    <div class="container col-md-8">
      <div class="section-title">
        <h3 class="title">My Orders</h3>
      </div>
      You don't have orders yet!
    </div>
  </div>
</div>

