<div class="container profile">
<div class="section">
  <div class="container col-md-4">
    <h4 class="title">My Account</h4>
    <ul class="nav nav-pills nav-primary nav-stacked">
      <li routerLink="/accountInfo" style="cursor: pointer"><a>Account Informations</a></li>
      <li routerLink="/address" style="cursor: pointer"><a>Address Management</a></li>
      <li routerLink="/myOrders" style="cursor: pointer"><a>My Orders</a></li>
      <li routerLink="/myPayments" style="cursor: pointer"><a>My Payments</a></li>
    </ul>
  </div>
  <div class="container col-md-8">
    <div class="section-title">
      <h3 class="title">Account Informations</h3>
    </div>
    <form>
      <div class="form-group">
        <input class="input" placeholder="Email" type="text" name="email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <input class="input" placeholder="First Name" type="text" name="firstname" [(ngModel)]="firstName">
      </div>
      <div class="form-group">
        <input class="input" placeholder="Last Name" type="text" name="lastname" [(ngModel)]="lastName">
      </div>
      <button class="primary-btn" (click)="updateCustomer()">Update</button>
    </form>
  </div>
</div>
</div>
