<div *ngIf="customerId==undefined" class="section" style="padding-bottom: 50px">

  <div class="container col-centereds col-md-5">
    <div class="section-title">
      <h3>Login:</h3>
    </div>
    <form>

      <div class="form-group">
       <i class="fa fa-envelope "></i> <input class="input" placeholder="Email" type="text" name="email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <i class="fa fa-key"></i><input class="input" placeholder="Password" type="password" name="password" [(ngModel)]="password">
      </div>
      <button class="primary-btn" (click)="login()">Login</button>
    </form>
  </div>
  <div class="col-md-2 col-centered  hidden-xs">
    <div class="col-centered-separator">

    </div>
  </div>
  <div class="container  col-centered col-md-5">
    <div class="section-title">
      <h3>Register:</h3>
    </div>
    <form>

      <div class="form-group">
        <i class="fa fa-envelope "></i><input class="input" placeholder="Email" type="text" name="email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <i class="fa fa-user "></i><input class="input" placeholder="First Name" type="text" name="firstname" [(ngModel)]="firstName">
      </div>
      <div class="form-group">
        <input class="input" placeholder="Last Name" type="text" name="lastname" [(ngModel)]="lastName">
      </div>
      <div class="form-group">
        <i class="fa fa-key "></i><input class="input" placeholder="Password" type="password" name="password" [(ngModel)]="password">
      </div>
      <div class="form-group">
        <input class="input" placeholder="Confirm Password" type="password" name="passwordconf"
               [(ngModel)]="passwordConfirm">
      </div>


      <button class="primary-btn" (click)="addNewCustomer()">Register</button>
    </form>
  </div>
</div>
<div class="container profile" *ngIf="customerId!=undefined">
  <div class="section">
    <div class="container col-md-4">
      <h4 class="title">My Account</h4>
      <ul class="nav nav-pills nav-primary nav-stacked">
        <li routerLink="/accountInfo" style="cursor: pointer"><a>Account Informations</a></li>
        <li routerLink="/address" style="cursor: pointer"><a>Address Management</a></li>
        <li routerLink="/myOrders" style="cursor: pointer"><a>My Orders</a></li>
        <li routerLink="/myPayments" style="cursor: pointer"><a>My Payments</a></li>
      </ul>
    </div>
    <div class="container col-md-8">
      <div class="section-title">
        <h3 class="title">Account Informations</h3>
      </div>
      <form>
        <div class="form-group">
          <i class="fa fa-envelope "></i><input class="input col-sm-4" placeholder="Email" type="text" name="email" [(ngModel)]="customer.emailAddress">
        </div>
        <div class="form-group">
          <i class="fa  fa-user"></i><input class="input" placeholder="First Name" type="text" name="firstname" [(ngModel)]="customer.firstName">
        </div>
        <div class="form-group">
          <input class="input" placeholder="Last Name" type="text" name="lastname" [(ngModel)]="customer.lastName">
        </div>
        <button class="primary-btn" (click)="updateCustomer()">Update</button>
      </form>
    </div>
  </div>
</div>
